body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url("./img/default.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}


* {
    box-sizing: border-box;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    display: grid;
    gap: 20px;
}

.container__title {
    font-size: 18px;
    display: flex;
    margin: 20px;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    font-family: monospace;
    background: #303030;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.container__display {
    color: white;
}


.container__input {
    display: flex;
    max-width: 600px;
    min-width: 200px;
    width: 100%;
    justify-self: center;
    height: 40px;
    font-family: monospace;
    padding-left: 10px;
    border: 3px solid #303030;
    border-radius: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}


button {
    height: 60px;
    width: 120px;
    background: #303030;
    color: white;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    font-family: monospace;
}

@media (max-width: 900px) {
    .buttons {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        width: 50%;
        justify-items: center;
        justify-self: center;
    }

    .container__input {
        width: 80%;
    }

    .container__title {
        display: flex;
        justify-self: center;
    }

}


@media (max-width: 480px) {
    .buttons {
        grid-template-columns: 1fr 1fr;
    }

    .container__title {
        font-size: 16px;
        display: flex;
    }
}
